In [43]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson is the best is the best is the best is the best'

In [2]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [3]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [4]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [5]:
# Print the string

print("hello!")

hello!

In [44]:
# Assign string to variable

Name = "Michael Jackson"
Name

'Michael Jackson'

In [9]:
# Print the first element in the string
print(Name[0])

M

In [46]:
# Print the element on index 6 in the string

print(Name[6])
Name

l

'Michael Jackson'

In [11]:
# Print the element on the 13th index in the string

print(Name[13])

o

In [12]:
# Print the last element in the string

print(Name[-1])

n

In [47]:
# Print the first element in the string

print(Name[-15])
Name

M

'Michael Jackson'

In [49]:
len("Michael Jackson")

15

In [15]:
Name[0:4]

'Mich'

In [17]:
Name[8:12]

'Jack'

In [55]:
# Get every second element. The elments on index 1, 3, 5 ...
Name[::2]

'McalJcsn'

In [56]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Mca'

In [59]:
# Concatenate two strings
Name
Statement=Name+" is the best"
Statement

'Michael Jackson is the best'

In [60]:
# Print the string for 3 times
3*"Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [61]:

Name=Name + " is the best"
Name

'Michael Jackson is the best'

In [62]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [63]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [64]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [65]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [69]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper",A)
B=A.upper()
print("After upper",B)

before upper Thriller is the sixth studio album
before upper THRILLER IS THE SIXTH STUDIO ALBUM

In [72]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B=A.replace("Michael","Janet")
B

'Janet Jackson is the best'

In [75]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('el')

5

In [77]:
Name.find('Jack')

8

In [80]:
# Find the substring in the string.

Name.find('Jasdfasdasdf')

-1

In [82]:
A = "1"
A

'1'

In [83]:
B = "2"
B

'2'

In [85]:
C = A + B
C

'12'

In [87]:
D = "ABCDEFG"
D

'ABCDEFG'

In [88]:
D[::2]

'ACEG'

In [90]:
E = 'clocrkr1e1c1t'
E

'clocrkr1e1c1t'

In [93]:
print(E[::2])

correct

In [94]:
print("\\")

\

In [99]:
F = "You are wrong"
F1=F.upper()
F1

'YOU ARE WRONG'

In [100]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
G.find('snow')

95

In [101]:
G.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'